!!! 5
html
  head
    title Dyson CSS
    link(rel="stylesheet", href="css/dyson.css", type="text/css")
  body
    h1 Dyson
    #sphere
      .container
    script(src="js/vendor/jquery-1.6.4.js", type="text/javascript")
    script(src="js/dyson.js", type="text/javascript")


