!!! 5
html
  head
    title SVG Test
    link(rel="stylesheet", href="css/spike.css", type="text/css")
  body
    h1 Hello!
    #css_canvas.canvas
    #mood_canvas.canvas
    #canvas.canvas
    svg(id="svgelem", height="200", xmlns="http://www.w3.org/2000/svg")
      rect(id="redrect", width="300", height="100", fill="red")
      text(style="fill:black; text-anchor:middle;", x="100", y="25")
        | Hello World!
      rect(x="10", y="5", width="20", height="20", fill="blue")
      text(style="font-size:30;stroke: blue", x="10", y="170")
        | Hello SVG World
    script(src="js/vendor/raphael.js", type="text/javascript")
    script(src="js/vendor/jquery-1.6.4.js", type="text/javascript")
    script(src="js/vendor/jquery-svg/jquery.svg.js", type="text/javascript")
    script(src="js/vendor/jquery-svg/jquery.svgdom.js", type="text/javascript")
    script(src="js/vendor/underscore.js", type="text/javascript")
    script(src="js/vendor/backbone.js", type="text/javascript")
    script(src="js/mobile.js", type="text/javascript")
